[submodule ".zsh_custom.d/plugins/zsh-syntax-highlighting"]
	path = .zsh_custom.d/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh_custom.d/plugins/zsh-autosuggestions"]
	path = .zsh_custom.d/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh_custom.d/plugins/zsh-completions"]
	path = .zsh_custom.d/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".vim/pack/tpope/start/surround"]
	path = .vim/pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
